@mixin flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin frame($shadow, $background-color, $border-radius: 5px) {
  border-radius: $border-radius;
  box-shadow: $shadow;
  background-color: $background-color;
}
