//Colors
$white: #e9e9e9;
$black: #333;
$blue: #0367a6;
$lightblue: #008997;

// Shadow
$card-shadow: -8px 6px 57px -1px rgba(34, 60, 80, 0.59);
$auth-shadow: -8px 6px 57px -1px rgba(0, 0, 0, 0.25);

// Transform
$transform: transform 0.7s ease-in-out;

//Other
$button-radius: 12px;
$photo: "https://images.unsplash.com/photo-1589429152188-da4f442e177b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80";
